# Private key for deployment (DO NOT SHARE REAL KEY)
PRIVATE_KEY=

# RPC endpoint (Alchemy / Infura / Base)
RPC_URL=

# Deployed contract addresses
ESCROW_CONTRACT_ADDRESS=0x4DE20B4eC770DadfD403383Eb819f202C1d1272d
TOKEN_ADDRESS=0x220BAc08b870EB6831F39c6E665FEfd156c5Bb38